<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Row for Reveille presented by Kitsap Crossfit</title>
    <!-- bootstrapcdn -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- modernizr -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/landing.css">
</head>
<body>
    <div class="container">
            <img src="https://kitsapcrossfit.com/wp-content/uploads/2018/05/kcflogo1.png" alt="Kitsap CrossFit" id="logo" data-height-percentage="90" data-actual-width="409" data-actual-height="150">

