<% include ./partials/header.ejs %>


<header class="jumbotron">
    <div class="jumbotron-image">
            <img src="images/R4R_logo.jpg" alt="">
    </div>
</header>

<div class="row text-center">
    <div class="col-md-4">
        <div class="athlete-cards">
                <h4>Overall</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="athlete-cards">
            <h4>Divisions</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="athlete-cards">
            <h4>Athletes</h4>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
