<% include ./partials/header.ejs %>

<div class="jumbotron vertical-center">
  <div class="overlay"></div>
  <div class="bg"></div>
  <div class="container px-0 inner">
    <div class="text-center">
      <div id="logo-splash">
        <img src="images/R4R.png" alt="" />
        <p class="mb-3">Presented by Kitsap CrossFit <sup>&reg;</sup></p>
        <p class="mb-3">January 18<sup>th</sup>, 2020</p>
        <div class="countdown-box">
          <p id="countdown" class="text-center mb-3"></p>
        </div>
        <a href="#main" class="btn btn-danger">Get More Information</a>
      </div>
    </div>
  </div>
</div>


<!-- main content section below jumbotron -->
<div id="main" class="container py-6 px-0">
  <!-- sponsors -->
  <div class="row text-center">
    <div class="col-md-2 order-2 order-md-1">
      <ul id="sponsors" class="list-group">
        <li class="list-group-item">
          <a target="_blank" href="https://kitsapcrossfit.com">
            <div class="image"><img class="img-fluid img-thumbnail" src="images/HEXFINAL-PNG1.png"
                alt="Kitsap CrossFit" /></div>
          </a>
        </li>
        <li class="list-group-item">
          <a target="_blank" href="http://thereveilleproject.org/">
            <div class="image"><img class="img-fluid img-thumbnail" src="images/reveilleproject-logo.jpg" alt="" />
            </div>
          </a>
        </li>
        <li class="list-group-item">
          <a target="_blank" href="https://www.rokfit.com">
            <div class="image"><img class="img-fluid img-thumbnail" src="images/rokfit_logo_square.png"
                alt="RokFit Logo" /></div>
          </a>
        </li>
        <li class="list-group-item">
          <a target="_blank" href="https://www.concept2.com">
            <div class="image"><img class="img-fluid img-thumbnail" src="images/concept2_logo.png"
                alt="Concept2 Logo" /></div>
          </a>
        </li>
        <!-- <li class="list-group-item">
          <a target="_blank" href="https://www.ascentprotein.com">
            <div class="image"><img class="img-fluid img-thumbnail" src="images/ascent_protein_logo.jpg" alt="" /></div>
          </a>
        </li> -->
        <li class="list-group-item">
          <a target="_blank" href="https://www.nobullproject.com"><img class="img-fluid img-thumbnail"
              src="images/nobull-squarelogo-1561386996746.png" alt="NOBULL Logo" /></a>
        </li>
        <!-- <li class="list-group-item">
          <a target="_blank" href="https://www.roguefitness.com"><img class="img-fluid img-thumbnail"
              src="images/roguefitness_logo.png" alt="" /></a>
        </li> -->
        <li class="list-group-item">
          <a target="_blank" href="https://www.zevia.com"><img class="img-fluid img-thumbnail"
              src="images/zevia-squarelogo-1554072806849.png" alt="Zevia logo" /></a>
        </li>
        <!-- <li class="list-group-item">
          <a target="_blank" href="https://www.facebook.com/Sluys-Poulsbo-Bakery-331792313564023/"
            ><img class="img-fluid img-thumbnail" src="images/sluyslogo.jpg" alt=""
          /></a>
        </li> -->
      </ul>
    </div>


    <!-- event details / information -->
    <div class="col-md-8 order-1 order-md-2">
      <div id="event-details" class="text-center p-2">
        <div id="purpose-header">
          <h1>24 Hours of rowing</h1>
          <h1>for our Veterans</h1>
        </div>
        <h3>A competition unlike any other.</h3>
        <h5>Jan 18-19 from 9:00 am till 9:00 am (PST)</h5>
        <h5><em>Kitsap CrossFit</em></h5>
        <a target="_blank" href="http://maps.google.com/?q=20714 Hwy 305, Suite 1B Poulsbo, WA">20714 Hwy 305, Suite 1B,
          Poulsbo, WA
        </a>
        <p>This is going to be an epic competition!</p>
        <div class="text-center">
          <div class="fb-like fb_iframe_widget" data-href="/competition/r4r2019/" data-layout="button"
            data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered"
            fb-iframe-plugin-query="action=like&amp;app_id=626436470824088&amp;container_width=988&amp;href=https%3A%2F%2Fleaderboard-lite.throwdowns.com%2Fcompetition%2Fr4r2019%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true">
            <span style="vertical-align: bottom; width: 96px; height: 20px;"><iframe name="f200e98ec7b7b4c"
                width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0"
                allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media"
                src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frowforreveille%2F&width=1000px&layout=button&action=like&size=small&show_faces=true&share=true&height=65&appId"
                style="border: none; visibility: visible; width: 136px; height: 20px;" class=""></iframe></span>
          </div>
          <p>
            <small><em>Help spread the word about this competition!</em></small>
          </p>
        </div>
        <div id="content" class="text-left">
          <p>
            Help us raise funds for
            <a href="http://thereveilleproject.org">The Reveille Project (TRP)</a>. This amazing
            organization helps disabled veterans transition from active duty to civilian life. TRP
            veterans receive scholarships to local CrossFit affiliates, nutrition counseling and
            access to a community that supports them on a social, emotional and spiritual level.
          </p>
          <p>
            The format of the event is brutally simple. Row as hard as you can for 10 minutes, rest
            for 50 minutes, repeat for 24 hours. Prizes will be awarded to the male and female who
            row the most cumulative meters.
          </p>
          <p>THIS IS NOT A TEAM EVENT. INDIVIDUALS ONLY.</p>

          <p>There are 2 Divisions: In-House (competing at Kitsap CrossFit) and Remote (competing at
            some place other than Kitsap CrossFit)</p>
          <p class="price"><strong>In-House Cost: $185</strong><br> <em>includes: R4R Hoodie, Food & Drinks throughout,
              live
              DJ
              and a post-event party (food and adult beverages provided).</em></p>
          <p class="price"><strong>Remote Cost:
              $100</strong><br> <em>includes: R4R Hoodie, opportunities to win prizes from sponsors.</em></p>
          <p>
            We're expecting this competition to sell out again this year, so register ASAP to secure your spot.
          </p>
          <div class="text-center mb-3">
            <a class="btn btn-dark" target="_blank"
              href="https://app.throwdowns.com/competitions/row-for-reveille/leaderboard">View the Leaderboards</a>
          </div>
          <div class="text-center">
            <small><em>Direct any questions or comments about this competition to
                <a href="mailto:info@kitsapcrossfit.com">Dan Hollingsworth</a>.</em></small>
          </div>
        </div>
      </div>
    </div>

    <!-- links to external webpages -->
    <div id="links" class="col-md-2 order-3 order-md-3">
      <div class="text-center">
        <ul class="list-group">
          <li class="list-group-item">
            <a target="_blank" href="https://app.throwdowns.com/competitions/row-for-reveille/registration">Register as
              an athlete</a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="https://app.throwdowns.com/competitions/row-for-reveille/leaderboard">View the
              leader boards
            </a>
          </li>
          <li class="list-group-item">
            <a target="_blank"
              href="https://www.classy.org/campaign/the-reveille-project-or-2017/c142751/fundraiser/create?amount=NaN">Create
              a fundraiser page</a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="https://www.classy.org/give/142751/#!/donation/checkout">Make a donation</a>
          </li>
          <li class="list-group-item">
            <a target="_blank" href="http://thereveilleproject.org/">About The Reveille Project</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- leaderboards from throwdowns -->
<!-- <div id="leaderboards" class="row text-center">
  <div class="col-md-4">
    <div class="athlete-cards">
      <h4>Overall</h4>
      <ul class="list-group">
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="athlete-cards">
      <h4>Divisions</h4>
      <ul class="list-group">
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="athlete-cards">
      <h4>Athletes</h4>
      <ul class="list-group">
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
        <li class="list-group-item">coming soon</li>
      </ul>
    </div>
  </div>
</div> -->

<% include ./partials/footer.ejs %>