<% include ./partials/header.ejs %>


<header class="jumbotron">
    <div class="container">
            <img src="images/R4R_logo.jpg" alt="">
    </div>
</header>

<div class="row text-center">
    <div class="col-md-12">
        <button class="btn btn-danger">Sign Up Now!</button>
    </div>
</div>

<% include ./partials/footer.ejs %>
