<% include ./partials/header.ejs %>


<header class="jumbotron">
    <div class="jumbotron-image">
            <img src="images/R4R_logo.jpg" alt="">
    </div>
</header>


<div class="row">
    <div class="col-md-2 order-2 order-md-1">
        <ul class="list-group">
            <li class="list-group-item"><img class="img-fluid" src="images/reveilleproject-logo.jpg" alt=""></li>
            <li class="list-group-item">#</li>
            <li class="list-group-item">#</li>
            <li class="list-group-item">#</li>
            <li class="list-group-item">#</li>
        </ul>
    </div>
    <div id="event-details" class="col-md-8 order-1 order-md-2">
            <div class="text-center">
                    <div id="purpose-header">
                        <h1>24 Hours of rowing</h1>
                        <h1>for our Veterans</h1>
                    </div>
                    <h3>A competition unlike any other.</h3>
                    <h5>Jan 18-19 from 9:00 am till 9:00 am (PST)</h5>
                    <h5><em>Kitsap CrossFit</em></h5>
                        <a target="_blank" href="http://maps.google.com/?q=20714 Hwy 305, Suite 1B Poulsbo, WA">20714 Hwy 305, Suite 1B, Poulsbo, WA
                        </a>
                    <p>This is going to be an epic competition!
                        <div class="text-center">
                                <div class="fb-like fb_iframe_widget" data-href="/competition/r4r2019/" data-layout="button" data-action="like" data-show-faces="true" data-share="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="action=like&amp;app_id=626436470824088&amp;container_width=988&amp;href=https%3A%2F%2Fleaderboard-lite.throwdowns.com%2Fcompetition%2Fr4r2019%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true"><span style="vertical-align: bottom; width: 96px; height: 20px;"><iframe name="f200e98ec7b7b4c" width="1000px" height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" src="https://www.facebook.com/v2.0/plugins/like.php?action=like&amp;app_id=626436470824088&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df3dc5ceda292144%26domain%3Dleaderboard-lite.throwdowns.com%26origin%3Dhttps%253A%252F%252Fleaderboard-lite.throwdowns.com%252Ff139ef402142e9c%26relation%3Dparent.parent&amp;container_width=988&amp;href=https%3A%2F%2Fleaderboard-lite.throwdowns.com%2Fcompetition%2Fr4r2019%2F&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;share=true&amp;show_faces=true" style="border: none; visibility: visible; width: 96px; height: 20px;" class=""></iframe></span></div>
                                <br>
                                <p>
                                    <small><em>Help spread the word about this competition!</em></small>
                                </p>
                        </div>
                        <div class="content text-left">
                            <p>
                                Help us raise funds for <a href="http://thereveilleproject.org">The Reveille Project (TRP)</a>. This amazing organization helps disabled veterans transition from active duty to civilian life. TRP veterans receive scholarships to local CrossFit affiliates, nutrition counseling and access to a community that supports them on a social, emotional and spiritual level.
                            </p>
                            <p>
                                The format of the event is brutally simple. Row as hard as you can for 10 minutes, rest for 50 minutes, repeat for 24 hours. Prizes will be awarded to the male and female who row the most cumulative meters. Additional prizes will be given out during incentive rounds, known as Primes, throughout the event. THIS IS NOT A TEAM EVENT. INDIVIDUALS ONLY.
                            </p> 
                            <p>
                                Registration fees will include: R4R Hoodie, Food & Drinks throughout, live DJ and a post-event party (food and adult beverages provided).
                            </p> 
                            <p>
                                Cost: $185  
                            </p>        
                            <p>
                                We're expecting this competition to sell out, so register ASAP to secure your spot.
                            </p>    
                            <p>
                                Competitions are a lot more fun for everyone when everyone gets involved, so please use the Facebook "Share" button above to help us spread the word! You can also follow our <a href="https://www.facebook.com/Kitsap-CrossFit-152476115259/">Facebook Page</a>.
                            </p> 
                        </div>
                </div>
    </div>
    <div class="col-md-2 order-3 order-md-3">
        <h4>Links</h4>
    </div>
</div>
    
  


<div class="row text-center">
    <div class="col-md-4">
        <div class="athlete-cards">
                <h4>Overall</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="athlete-cards">
            <h4>Divisions</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="athlete-cards">
            <h4>Athletes</h4>
        </div>
    </div>
</div>

<% include ./partials/footer.ejs %>
