<% include ./partials/header.ejs %>

 <div id="landing-header">
    <div id="logo-splash">
        <img src="images/R4R_logo.jpg" alt="">
        <a href="/campgrounds" class="btn btn-lg btn-primary">Enter</a>
    </div>
    
 </div>

 <ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>



<% include ./partials/footer.ejs %>