<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Row for Reveille presented by Kitsap CrossFit</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
        <!-- modernizr -->
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/Javascript" async></script>
    </head>
<body>
    <div class="container-fluid">
        <div id="landing-header">
            <div id="logo-splash">
                <h1>Row For Reveille 2020</h1>
                <p>presented by Kitsap Crossfit <sup>&reg;</sup></p>
            </div>
            <div id="date">
                    <h6>Sat, Jan 18<sup>th</sup>, 2020</h6>
            </div>
            <div class="signupButton text-center">
                    <a href="#" class="btn btn-danger">More info coming soon!</a>
            </div>
            <div class="countdown-box">

                    <p id="countdown" class="text-center"></p>
            </div>
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

    <!-- embedded countdown timer script -->
    <script language="JavaScript" src="/javascript/countdown.js"></script>

<% include ./partials/footer.ejs %>