<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Row for Reveille presented by Kitsap CrossFit</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- modernizr -->
        <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
        type="text/javascript" async></script>
    </head>
<body>
    <div class="container">

        <div id="landing-header">
            <div id="logo-splash">
                <img src="images/R4R_logo.jpg" alt="">
                <a href="/campgrounds" class="btn btn-lg btn-primary">Enter</a>
            </div>
            
        </div>

        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>



<% include ./partials/footer.ejs %>